@import url('https://fonts.googleapis.com/css?family=VT323');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    font-family: Arial, Helvetica, sans-serif;
}

#score,
#lives {
    position: absolute;
    width: 175px;
    height: 75px;
    left: 20px;
    font-size: 30px;
    color: white;
    padding: 20px 20px 20px 30px;
}

#score {
    top: 20px;
    background-color: rgba(0, 0, 0, 0.7);
}

#lives {
    top: 55px;
}

#item {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 20px;
    right: 20px;
    font-size: 28px;
    color: white;
}

#begin-container,
#end-container,
#countdown,
#paused,
#instructions-container {
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

#begin-container,
#end-container {
    display: flex;
}

#countdown,
#paused,
#instructions-container {
    display: none;
}

#begin-content,
#end-content,
#paused-content,
#instructions-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(86, 210, 255, 0.85);
    /* padding: 30px; */
    /* text-align: center; */
}

#end-content {
    background-color: rgba(255, 77, 0, 0.7);
}

#end-content h1,
#paused-content h1,
#instructions-content h1 {
    font-size: 80px;
    padding-top: 10px;
    color: #fff;
    text-align: center;
}

#end-content h1 {
    padding-top: 180px;
}

#begin-content h1 {
    font-size: 80px;
    padding-top: 10px;
    color: #fff;
    text-align: center;
    /* -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate; */
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
            0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073,
            0 0 70px #e60073;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
            0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6,
            0 0 80px #ff4da6;
    }
}

#countdown h1 {
    font-size: 80px;
}

#begin-content p {
    font-family: 'Open Sans' !important;
    font-weight: 600;
    color: white;
    justify-content: center;
    padding-left: 180px;
    font-size: 20px;
    width: 400px;
    /* border: 2px solid black; */
}

#end-content p,
#paused-content p,
#instructions-content p {
    text-align: center;
    font-family: 'Open Sans' !important;
    /* font-style: italic; */
    color: white;
    font-size: 20px;
}

#end-content p {
    text-align: center;
}

#begin-button,
#end-button,
#instructions-button,
#back-button {
    display: flex;
    height: 50px;
    width: 200px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 20px;
    color: white;
    font-size: 22px;
    border-radius: 15px;
}

#begin-button,
#end-button {
    /* background-color: #31c110; */
    padding-top: 30px;
    font-size: 40px;
    height: 50px;
    width: 400px;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

#instructions-button,
#back-button {
    /* background-color: white; */
    color: #fff; /* Text color */
    border: 3px solid #fff; /* Outline using the border property */
}

#instructions-button:hover,
#back-button:hover {
    background-color: white;
    color: rgba(86, 210, 255, 0.85);
}

#writeup-container {
    position: absolute;
    bottom: 40px;
    right: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
}

#writeup-container a {
    padding: 0px;
    margin: 0px;
    font-size: 28px;
    text-decoration: none;
    color: white;
}

#writeup-container a:hover {
    text-decoration: underline;
    color: lightgray;
}

#heart {
    position: absolute;
    top: 82px;
    left: 140px;
    display: flex;
}

#heart img {
    height: 25px;
    width: 25px;
    padding-right: 4px;
}

#runner {
    position: absolute;
    top: 82px;
    right: 128px;
    display: flex;
    /* border: 2px solid black; */
}
#runner img {
    height: 400px;
    width: 100%;
    padding-right: 4px;
}
#biker {
    position: absolute;
    top: 80px;
    left: 60px;
    display: flex;
}
#biker img {
    height: 650px;
    width: 100%;
    padding-right: 1px;
    /* border: 2px solid black; */
}
#swimmer {
    position: absolute;
    bottom: 10px;
    right: 20px;
    display: flex;
}
#swimmer img {
    height: 550px;
    width: 100%;
    padding-right: 4px;
    /* border: 2px solid black; */
}
